name: CI Pipeline

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ dev ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fastapi uvicorn pytest pydantic starlette httpx pydantic-settings

      - name: Run tests
        run: pytest -v

  docker:
    runs-on: ubuntu-latest
    needs: tests  # запускать сборку только если тесты прошли успешно

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t gojenka/devops-lab5:latest .

      - name: Push Docker image
        run: |
          docker push gojenka/devops-lab5:latest
